* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: inherit;
  color: inherit;
}

.app {
  min-height: 98.5vh;
  border: 2px salmon;
  margin: 2px;
  padding: 2px;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
